.container {
    border: 6px solid lightgray;
    display: flex;
    width: 800px;
}

.flex-item {
    color: black;
    width: 120px;
    text-align: center;

}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
}

.item-3 {
    background-color: lightpink;
}

.item-4 {
    background-color: lightgreen;
}

.item-5 {
    background-color: lightsalmon;
}

.item-6 {
    background-color: lightskyblue;
}